@charset "UTF-8";

/*
    Em HTML é ( id= ) em CSS é ( # ) - só pode um elemento por página -
    Em HTML é ( class ) em CSS é ( . ) - pode ter varios elementos -
*/

body {
    background-color: rgb(254, 252, 251);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(0, 31, 84)
}

h1#principal {
    text-align: center;
    color: rgb(18, 130, 162);
}

h2 {
    color: rgb(3, 64, 120);
}

p {
    text-align: justify;
    text-indent: 20px;
    color: rgb(10, 17, 40);
}

.basico {
    color: rgb(113, 128, 172);
}

.intermediario {
    color: rgb(168, 208, 219);
}

.avancado {
    color: rgb(179, 183, 238);
}
