@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.416);
    color: white;
}

img {
    width: 300px;
}

p.imagen {
    margin-top: -5px;
    margin-bottom: 5px;
}

iframe {
    border-radius: 10px;
}

.home {
    width: 30px;
}

.social {
    width: 73px;
    margin-bottom: 4px;
}

.social2 {
    width: 29px;
    margin-bottom: 27px;
}